{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
  <h2>Jurnal</h2>
  <img src="{% static 'images/apple-logo.svg' %}" width="50"/>
  <a href="/create">Create</a>
  <div>
    {% for i in data %}
    <div class="card"> 
      <h1>{{i.group}}</h1>
      <p>{{i.amount}}</p>
      <img src="{{i.image.url}}" width="300">
      <a href="/update/{{i.id}}">Update</a>
      <a href="/delete/{{i.id}}">Delete</a>
    </div>
    {% endfor %}
  </div>
</body>
</html>